/* 공통 스타일 */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

/* 헤더 스타일 */
header {
    background-color: rgba(0, 0, 0, 0.7); /* 헤더 반투명 검정 */
    color: white;
    padding: 20px 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* 그림자 추가 */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}


header h1 {
    flex-grow: 1;
    text-align: center; 
    margin: 0;
    font-size: 24px; 
    font-weight: bold;
    letter-spacing: 1px; 
}


.container {
    padding: 120px 20px; 
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: white;
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); 
}


.options {
    display: flex;
    flex-direction: column;
    gap: 20px; 
    width: 100%;
    align-items: center;
}


.option {
    background: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 80%;
    max-width: 500px;
    text-align: center;
}


.option:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}


button {
    background: linear-gradient(to right, #4CAF50, #45a049); 
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 25px; 
    cursor
}